body {
	margin: 0 0 1em 0;
	padding: 0;
	font-size: 1em;
	font-family: "Proxima Nova Extra Condensed",proxima-nova-extra-condensed,Helvetica,sans-serif;
}

.user-image-container {
	height: 225px;
}

.event-thumbnail {
	margin: 0.25em;
}

.event-link {
	font-weight: bold;
	font-size: 0.8em;
	margin-bottom: 0.3em;
}

.event-date {
	font-size: 0.8em;
	margin-bottom: 0.3em;
}

.in-active {
	background-color: lightgrey;
}

.like {
	color: #4CAF50;
}

.mycanvas-follow {
	color: #4CAF50;
}

.mycanvas-following {
	color: #4CAF50;
}

.web2-like {
	color: #4CAF50;
}

.like-link:hover {
	cursor: pointer;
}

.like-link {
	text-decoration: none;
	margin-right: 0.75em;
}

.disabled-spacing {
	margin-right: 0.75em;
	font-size: 0.8em;
}

.your-item {
	color: darkgrey
}

.field-width1 {width: 31.5em;}
.field-width2 {width: 20em;}
.field-width3 {width: 15em;}
.field-width4 {width: 9.5em;}

.checked {
	color: orange;
}

#content-locked {
	border: 1px solid gray;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
	background-color: lightyellow;
	padding: 1em;
	margin-bottom: 1em;
}

#content-locked i {
	color: red;
}

#content-locked span {
	margin-left: 1em;
}

#user-tab-menu {
	display: inline-block;
	margin-bottom: 1em;
}

/* Profile Menu */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: black;
	display: inline-block;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 24px;
	transition: 0.3s;
	font-size: 17px;
	color: white;
}

.tab button:hover {
	background-color: #4b4a4a;
}

.tab button.active {
	background-color: #4CAF50;
}

.tabcontent {
	display: none;
	padding: 6px 12px;
	-webkit-animation: fadeEffect 1s;
	animation: fadeEffect 1s;
}

#user-profile-data {
	display: inline;
	float: left;
}

#user-profile-image {
	margin-right: 1em;
	display: inline-block;
	float: left;
}

.user-profile-thumbnail {
	width: 15em;
}

.user-profile-image-container {
	border: 1px solid gray;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
	padding: 0.4em;
	margin-right: 1em;
	margin-bottom: 1em;
	display: inline-block;
}

#image-drop-container {
	padding: 2em;
	margin-top: 1em;
	background: #e6ffec;
	border: 1px dashed #555;
	text-align: center;
	color: #555;
	width: 400px;
}

.active-drop {
	background: #4CAF50 !important;
	border: 1px solid black !important;
	color: black !important;
}

.user-image-container {
	border: 1px solid #ccc;
	float: left;
	height: 100px;
	width: 200px;
	overflow: hidden;
	margin-right: 2em;
	margin-bottom: 2em;
	position: relative;


	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius:0.3em;
	padding: 1em;
}

.user-image-container img {
	width: 200px;
	max-height: 140px;
	object-fit: scale-down;
}

.user-image-container:hover {
	border: 1px solid black;
	background-color: #e6ffec !important;
}

.user-image-container:hover .image-delete-button {
	opacity: 1;
}

.image-delete-button {
	position: absolute;
	right: 3px;
	top: 8px;
	float: right;
	text-align: center;
	opacity: 0;
	transition: opacity .35s ease;
	background-color: #4CAF50;
}

.image-delete-button a {
	border: 1px solid lightgray;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
	background-color: white;
	padding: 5px;
	text-align: center;
	color: red;
	z-index: 1;
}







#site-header {
	background-color: black;
	color: white;
	font-size: 2.25em;
	padding: 20px 0px 20px 20px;
}

#site-icon {
	margin-right: 0.5em;
	color: #4CAF50;
}

h2 {
	margin-top: 1.5em;
}

#workspace {
	padding-left: 2em;
	display: table-cell;
}

.icon-bar {
	background-color: black;
	display: table-cell;
	float: left;
}

.icon-bar a {
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	color: white;
	font-size: 30px;
}

.icon-bar a:hover {
	background-color: #4b4a4a;
}

.icon-bar .active {
	background-color: #4CAF50;
}

.icon-bar .active:hover {
	background-color: #4CAF50;
}

p {
	margin-bottom: 1.5em;
}

.section {
	overflow: visible;
	display: block;
	clear: both;
	margin: 0 0 1.0em 0;
	overflow: auto;
}

.item {
	display: inline;
	float: left;
	margin-right: 1.0em;
	margin-bottom: 1.0em;
}

button, input[type=submit], input[type=button] {
	cursor: pointer;
	padding: 12px 30px 12px 30px;
	background-color: #E4E4E4;
	color: black;
	border: 1px solid white;
}

button i {
	margin-right: 0.35em;
}

.button-action {
	background-color: #4CAF50;
	color: white;
}

.button-action:hover {
	background-color: #2f6a31;
}

.button-action2 {
	background-color: #D3D3D3;
	color: black;
}

.button-action2:hover {
	background-color: #808080;
	color: white;
}

.button-cancel {
	background-color: #E4E4E4;
	color: black;
}

.button-cancel:hover {
	background-color: #555;
	color: white;
}

.button-alert {
	background-color: #FF0000;
	color: white;
}

.button-alert:hover {
	background-color: #b30000;
	color: white;
}

.mobile-content {
	display: none;
}

@media only screen and (max-width : 30em) {
	.item {
		width: 90%;
		display: block;
	}
}

@media only screen and (max-width : 48em) {

	h2 {
		margin-top: 0.5em;
	}

	#workspace {
		padding-left: 1em;
	}

	#site-header {
		font-size: 1.75em;
		padding: 10px 0px 10px 10px;
	}

	p {
		margin-bottom: 1em;
	}

	.full-content {
		display: none;
	}

	.mobile-content {
		display: inline;
	}

	.icon-bar a {
		padding: 10px;
		font-size: 20px;
	}
}
