@model web2.Models.User

@{
	ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<style>
	.user-image-container {
		height: 185px;
	}

	.user-image-container {
		height: unset;
	}

	.event-thumbnail {
		margin: 0.25em;
	}

	.event-link {
		font-weight: bold;
		font-size: 0.8em;
		margin-bottom: 0.3em;
	}

	.event-date {
		font-size: 0.8em;
		margin-bottom: 0.3em;
	}

	.in-active {
		background-color: lightgrey;
	}

	.like {
		color: #4CAF50;
	}

	.mycanvas-follow {
		color: #4CAF50;
	}

	.mycanvas-following {
		color: #4CAF50;
	}

	.web2-like {
		color: #4CAF50;
	}

	.like-link:hover {
		cursor: pointer;
	}

	.like-link {
		text-decoration: none;
		margin-right: 0.75em;
	}

	.disabled-spacing {
		margin-right: 0.75em;
		font-size: 0.8em;
	} 

	.your-item {
		color: darkgrey
	}

	.button-action2 {
		background-color: #D3D3D3;
		color: black;
	}

	.button-action2:hover {
		background-color: #808080;
		color: white;
	}
</style>

<p class="event-date">Thanks for using our website. The contact information for the architect of this website is below. have a wonderful day!</p><br />

@using (Html.BeginForm(FormMethod.Post)) {
		<div class="item">
			<div class="user-image-container">
				<img class="user-profile-thumbnail" src="~/Images/amelia.jpg" alt="Amelia" />
				<div class="event-thumbnail">
					<div class="event-date">@Model.FirstName @Model.LastName</div>

					<div class="event-date">
						<a href="mailto: nastkaefff@gmail.com?subject=Try State Music Events.">nastkaefff@gmail.com </a>
					</div>
				</div>
			</div>
			<div>
				<button id="btnMore" name="btnSubmit" value="more" class="button-action"><i class='fas fa-info-circle'></i> More</button>
				<button id="btnClose" name="btnSubmit" value="close" class="button-action2"><i class="fa fa-times"></i> Close</button>
			</div>
		</div>
}

<script>
	$(document).ready(function () {
		SetActiveMenus('aboutus', 'index');
	});
</script>


